.register {
  height: 100%;
  width: 100%;
  background-image: url('https://wallpaperaccess.com/full/38581.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.overlay {
  height: 100%;
  width: 100%;
  /* background: rgb(0, 0, 0); */
  background: linear-gradient(
    65deg,
    rgb(32, 33, 43) 40%,
    rgb(32, 33, 43, 0.95) 50%,
    rgb(32, 33, 43, 0.9) 60%,
    rgb(32, 33, 43, 0.85) 70%,
    rgb(32, 33, 43, 0.8) 80%,
    rgb(32, 33, 43, 0.75) 90%,
    rgb(32, 33, 43, 0.7) 100%
  );
  position: absolute;
  z-index: 2;
}

.register-overlay {
  background: rgba(100, 100, 100, 0.5);
}

.register-left-panel {
  flex: 1;
  position: relative;
}

.register-right-panel {
  flex: 1;
}

.form {
  position: absolute;
  top: 45%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  z-index: 3;
}

.register-text-container {
  position: absolute;
  height: 100px;
  width: 100%;
  padding: 10px;
  z-index: 3;
  left: 30.5%;
  top: 32.5%;
}

.register-text-container :nth-child(1) {
  color: rgba(166, 158, 158, 0.5);
  font-weight: bold;
  animation: fade-in-from-bottom 0.25s linear;
}

.register-text-container :nth-child(2) {
  /* color: white; */
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 3.5rem;
  color: white;
  animation: fade-in-from-bottom 0.25s linear;
}

.register-text-container :nth-child(3) {
  /* color: white; */
  font-weight: bold;
  color: rgba(166, 158, 158, 0.5);
  animation: fade-in-from-bottom 0.25s linear;
}

.register-container {
  margin-bottom: 10px;
}

.register-names-container {
  width: 95%;
}

.register-first-name {
  flex: 1;
  margin-right: 10px;
}

.register-last-name {
  flex: 1;
}

.register-email-container {
  margin-bottom: 10px;
  width: 95%;
}

.register-password-container {
  width: 95%;
}

.input-container {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 15px;
  height: 45px;
  background: rgb(44, 46, 60);
  margin-bottom: 20px;
}

.input-container span {
  font-size: 0.7rem;
  position: relative;
  color: rgba(166, 158, 158, 0.5);
  font-weight: bold;
  position: relative;
  left: 10px;
  top: 5px;
  margin-bottom: 10px;

  /* padding-top: 5px; */
}

.input-container input {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.input-container:focus-within {
  border: rgb(95, 140, 222);
}

.register-btns-container {
  margin-top: 30px;
}

.form-btn {
  border-radius: 30px;
  height: 40px;
  width: 200px;
  background: rgb(95, 140, 222);
  margin: 10px;
  color: white;
  border: none;
  cursor: pointer;
}
