.modal {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 0;
  margin-top: auto;
  left: 0;
  margin-left: auto;
  right: 0;
  margin-right: auto;
  bottom: 0;
  margin-bottom: auto;
  margin-left: auto;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  z-index: 999;
  padding: 30px;
}

.modal form {
  height: 100%;
  width: 100%;
}

.modal img {
  max-height: 150px;
  width: auto;
  margin-top: 20px;
}

.modal button {
  width: 150px;
  margin-top: 30px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  background: rgb(95, 140, 222);
  color: white;
  font-weight: bold;
  transition: 0.25s linear;
}

.modal button:hover {
  color: gold;
}

.modal input {
  border-radius: 5px;
  /* padding: 10px; */
}
