.nav {
  /* height: 75px; */
  padding: 20px;
  width: 400px;
  position: absolute;
  top: 2.5%;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  border-radius: 40px;
  backdrop-filter: blur(12px);
  z-index: 999;
}

.link-container :nth-child(1) {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: 0.25s;
}

.link-container :nth-child(1):hover {
  color: gold;
}

.link-container button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
